:root {
    --main-color: #36d39c;
    --main-color-hover: #06efb9;
    --accent-color: #ff6680;
    --accent-color-hover: #f9a1b1;
    --secondary-color: #aeb7b4;
    --alt-color: #7e8b89;
    --background-color: #fcfcfc;
    --background-color-mate: #fff;
    --text-color: #000009;
}

.dark-mode {
    --secondary-color: #d4d6d5;
    --background-color: #4a5452;
    --background-color-mate: #303030;
    --text-color: white;
}

body {
    position: relative;
    min-height: 100vh;
    padding-bottom: 34px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background-color);
}

h1, h2, h3, h4, h5, h6, p, span, label, select {
    color: var(--text-color);
    }
    h1, h2, h3, h4, h5, h6 {
        margin-top: 0;
        margin-bottom: 1.3rem;
    }
    h1, h2, h3 {
        font-family: "Oswald";
        }
        h1, h2 {
            font-weight: 700;
        }
        h1 {
            font-size: 2.5rem;
            text-align: center;
        }
        h2 {
            font-size: 1.9rem;
        }
        h3 {
            font-size: 1.5rem;
            font-weight: 500;
        }
        h3, h4 {
            text-transform: uppercase;
        }
    h4, h5, h6, p, i, a {
        font-family: "Barlow";
        }
        h4, h5, h6 {
            font-weight: 600;
        }
        p {
            line-height: 1.5;
            margin-bottom: 1.5rem;
        }
        a {
            text-decoration: none;
        }

.hidden {
    display: none;
    visibility: hidden;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    }
    .flex--center {
        align-items: center;
    }

.borderless {
    border: none;
}

.content-block {
    width: 90%;
    max-width: 1200px;
    margin-left: auto;
    margin-bottom: 2.2rem;
    margin-right: auto;
    }
    .content-block--sm {
        width: 85%;
        max-width: 1100px;
    }

.content-card {
    padding: 3rem 3.5rem;
    background-color: var(--background-color-mate);
    box-shadow: 0 6px 10px rgba(126, 139, 137, .25);
}

.br-sm {
    border-radius: .5rem;
}

.br-big {
    border-radius: 1.5rem;
}

.link {
    color: var(--accent-color);
    }
    .link:hover {
        color: var(--accent-color-hover);
    }

.button {
    padding: .3rem 1rem .5rem;
    border: 2px solid var(--accent-color);
    color: var(--background-color-mate);
    background-color: var(--accent-color);
    border-radius: 8px;
    }
    .button--alt {
        color: var(--accent-color);
        background: none;
    }
    .button:hover {
        color: var(--background-color-mate);
        background-color: var(--accent-color-hover);
        border-color: var(--accent-color-hover);
        transition: 400ms;
    }
    .button--alt:hover {
        background-color: var(--accent-color);
        border-color: var(--accent-color);
    }
    .button--dis, .button--dis:hover {
        color: white;
        background-color: var(--secondary-color);
        border-color: var(--secondary-color);
    }
    
input:last-child {
    padding-top: .5rem;
}

.form {
    padding: 0;
    }
    .form__field {
        padding: .5rem;
        border: 1px solid var(--alt-color);
    }

.selector {
    width: 165px;
    padding: .5rem .8rem;
    border: 1px solid var(--secondary-color);
    background-color: var(--background-color);
}

.inline:not(:last-child) {
    margin-right: .6rem;
}

progress {
    width: 100%;
    height: 1.5rem;
    border-radius: 8px; 
    }
    progress::-webkit-progress-bar {
        border-radius: 8px;
        background-color: var(--secondary-color);
    }
    progress::-webkit-progress-value {
        border-radius: 8px;
        background-color: var(--main-color);
    }
    progress::-moz-progress-bar {
        background-color: var(--main-color);
    }

.header {
    height: 65px;
    padding-top: 1rem;
    border-bottom: 1px solid var(--main-color);
    margin-bottom: 1.8rem;
    background-color: var(--background-color-mate);
    }
    .header__logo {
        width: 10%;
    }
    .header__links {
        width: 12%;
        text-align: end;
        }
        .header__links a {
            font-size: 1.6rem;
            color: var(--main-color);
        }
        .header__links a:hover {
            color: var(--main-color-hover);
        }

.txt-w-img {
    width: 68%;
    }

.img-area {
    width: 25%;
}

.image {
    border: 1px solid var(--secondary-color);
    border-radius: .6rem;
}

.message {
    font-size: .9rem;
    color: var(--secondary-color);
}

#error-txt {
    margin: 0;
    font-weight: 500;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    padding-top: .45rem;
    text-align: center;
    background-color: var(--main-color);
    }
    .footer p, a {
        color: var(--background-color-mate);
    }
    .footer p {
        margin: 0;
    }
    .footer a {
        font-weight: bold;
        text-decoration: none;
    }

@media screen and (max-width: 484px) {
    .header {
        height: 60px;
        padding-top: 1.1rem;
        }
        .header__logo {
            width: 30%;
        }
        .header__links {
            width: 30%;
        }

    .footer {
        height: 60px;
    }
}

@media screen and (min-width: 485px) and (max-width: 620px) {
    .header {
        padding-top: 1.2rem;
        }
        .header__logo {
            width: 25%;
        }
        .header__links {
            width: 30%;
        }
}

@media screen and (min-width: 621px) and (max-width: 768px) {
    .header {
        height: 58px;
        padding-top: 1rem;
        }
        .header__logo {
            width: 18%;
        }
        .header__links {
            width: 20%;
        }
}

@media screen and (max-width: 768px) {
    body {
        padding-bottom: 64px;
    }

    .mob-col {
        flex-direction: column;
    }

    .mob-block {
        display: block;
    }

    .mob-hidden {
        display: none;
        visibility: hidden;
    }

    .mob-txt-center {
        text-align: center;
    }

    .mob-el-center {
        max-width: 95%;
        margin-right: auto;
        margin-bottom: 1.1rem;
        margin-left: auto;
    }

    .content-block--sm {
        width: 75%;
        max-width: 700px;
    }

    .content-card {
        padding: 2.4rem 2rem;
    }

    .form__field {
        width: 95%;
        padding: .5rem;
    }

    .selector {
        width: 160px;
        padding: .5rem .85rem;
    }

    .txt-w-img {
        order: 2;
        width: 100%;
    }

    .img-area {
        order: 1;
        width: 80%;
        margin-bottom: 1.25rem;
    }
}

@media screen and (min-width: 769px) {
    .mob-only {
        display: none;
        visibility: hidden;
    }

    .dt-inline {
        display: inline;
        margin-right: 1rem;
    }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
    .content-block--sm {
        width: 85%;
        max-width: 920px;
    }

    .content-card {
        padding: 2.5rem 2rem;
    }

    .form__field {
        width: 30%;
        padding: .5rem;
    }

    .selector {
        width: 138px;
        padding: .6rem;
    }

    .inline:not(:last-child) {
        margin-right: .4rem;
    }

    .header {
        height: 70px;
        padding-top: .85rem;
        }
        .header__logo {
            width: 20%;
        }
        .header__links {
            width: 20%;
        }

    .txt-w-img {
        width: 65%;
    }

    .img-area {
        width: 28%;
        margin-bottom: 1.25rem;
    }
}